:root {
  /* element colors */
  --primary-color-light: #ffaca1;
  --primary-color: #EB5440;
  --primary-color-dark: #ad392a;

  --secondairy-color: #4A4B4C;
  --tertairy-color: #E8E8E8;
  --tertrairy-color-dark: #C3C3C3;
  --background-one: #F6F6F6;
  --background-two: #FFFFFF;

  /* text colors */
  --text-color-primary: #000000;
  --text-color-secondary: #4A4B4C;
  --text-color-hyperlink: #067BC2;

  --border-black: black solid 2px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    background-color: var(--background-two);
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}


@font-face {
  font-family: 'Monsterrat Bold';
  src: url(./fonts/Montserrat-Bold.ttf); /* url of the font */
}

@font-face {
  font-family: 'Monsterrat Semibold';
  src: url(./fonts/Montserrat-SemiBold.ttf); /* url of the font */
}

@font-face {
  font-family: 'Monsterrat Medium';
  src: url(./fonts/Montserrat-Medium.ttf); /* url of the font */
}

@font-face {
  font-family: 'Monsterrat Medium Italic';
  src: url(./fonts/Montserrat-MediumItalic.ttf); /* url of the font */
}

@font-face {
  font-family: 'Open Sans Semibold'; 
  src: url(./fonts/OpenSans-SemiBold.ttf) /* url of the font */
}

@font-face {
  font-family: 'Open Sans'; 
  src: url(./fonts/OpenSans-Regular.ttf) /* url of the font */
}

h1 {
  font-family: 'Monsterrat Bold';
  font-size: 32px;

  @media (max-width: 720px) {
  font-size: 18px;
  }
}

h2 {
  font-family: 'Monsterrat Bold';
  font-size: 22px;

  @media (max-width: 720px) {
    font-size: 14px;
  }
}

.backbutton-text {
    @media (max-width: 720px) {
    font-family: 'Monsterrat Semibold';
    font-size: 16px;
  }
}

.inputfield.text {
    @media (max-width: 720px) {
      font-family: 'Monsterrat Semibold';
      font-size: 14px;
  }
}

.desktopheader.text {
    @media (max-width: 720px) {
      font-family: 'Monsterrat Medium';
      font-size: 14px;
  }
}

.empty-state-message {
  font-family: 'Monsterrat Medium';
  font-size: 18px;

  @media (min-width: 720px) {
    font-size: 14px;
  }
}

.empty-state-message {
  font-family: 'Monsterrat Medium Italic';
  font-size: 14px;

  @media (min-width: 720px) {
    font-size: 12px;
  }
}

.listing-information {
  font-family: 'Open Sans Semibold';
  font-size: 16px;

  @media (min-width: 720px) {
    font-size: 12px;
  }
}

p {
  font-family: 'Open Sans';
  font-size: 18px;

  @media (max-width: 720px) {
    font-size: 12px;
  }
}

input {
  font-family: 'Open Sans';
  font-size: 14px;

  @media (min-width: 720px) {
    font-size: 12px;
  }
}

.icon {
  width: 32px;
  height: 32px;
}

.card {
  width: 10em;
  height: 2%;
  background-color: var(--tertairy-color);
  border: var(--border-black);
}



